@model Product

<div class="border border-blue-500 rounded-lg m-4 p-4">
    <div class="bg-gray-200 p-2 rounded-t-lg">
        <h4 class="text-lg font-semibold">
            @Model.Name
            <span class="inline-block bg-blue-500 text-white text-xs px-2 py-1 ml-2 rounded-full">
                @Model.Price.ToString("c")
            </span>
        </h4>
    </div>
    <form id="@Model.ProductId" asp-page="/Cart" method="post" class="mt-2">
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <div class="p-2">
            <p class="text-sm">@Model.Description</p>
            <button type="submit" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-full mt-2 float-right">
                Add To Cart
            </button>
        </div>
    </form>
</div>
